<template name="home">
	<div class="col-md-8 col-md-offset-2">
		<div class="home">
			<h1>Login</h1>

			<p>Willst du einen Film oder eine Serie/Episode sehen die derzeit nicht auf Plex zu finden ist? Gib deinen Plex-Benutzer unterhalb ein um dir Inhalte zu Wünschen!</p>

			<form id="sign-in" class="">
				<div class="form-group col-sm-6">
					<input type="text" class="form-control" placeholder="Plex Benutzer" name="plex-username" id='plex-username' required autofocus>
				</div>

				<button class="btn btn-secondary-outline" type="submit" id="submitButton"><i class="fa fa-user fa-fw"></i> Login</button>
			</form>
		</div>
	</div>
</template>
