<template name="home">
	<div class="col-md-10 col-md-offset-1">
		<div class="home">
			<h1>Login</h1>

			<p>
				Willst du einen Film oder eine Serie/Episode sehen die derzeit nicht auf Plex zu finden ist? <br>
				Dann gib deinen Plex-Benutzer unterhalb ein um dir Inhalte zu Wünschen! <span title="Your login details are only used to authenticate your Plex account."><i class="fa fa-question-circle"></i></span>
			</p>

			<form class="form col-md-6" id="sign-in">
				<fieldset>
					<div class="form-group">
				    <label for="plex-username">Plex Benutzer</label>
				    <input type="text" class="form-control" id="plex-username" placeholder="Username">
				  </div>
					{{#if requirePassword}}
					<div class="form-group">
				    <label for="plex-password">Password</label>
				    <input type="password" class="form-control" id="plex-password" placeholder="Password">
				  </div>
					{{/if}}
				</fieldset>
				<button class="btn btn-secondary-outline" type="submit" id="submitButton"><i class="fa fa-user fa-fw"></i> Einloggen...</button>
			</form>

		</div>
	</div>
</template>
