<template name="requests">
	<div class="requests">
		<div class="row">
			<div class="col-md-offset-2 col-md-8">
			  <h1>Anforderungen</h1>
				<p>Hier kannst du deine und alle anderen Anfragen, sowie deren Download und Genehmigungsstatus sehen.</p>
				{{#if currentUser}}
				<p>
					Alle Filme und Serien sofort genehmigen: <button class="btn btn-secondary-outline btn-sm" id="approveAll">Alle bestätigen</button>
				</p>
				{{/if}}
			</div>
		</div>

	<!-- Selector between Movies/TV/etc  and Sort/Filter Options-->
		<div class="row selectors">
			<div class="col-md-offset-2 col-md-6">
				<ul class="search-selector">
			  	{{#each searchOptions}}
			  		<li><a href="#" class="{{#if activeSearch}}active-search{{/if}}">{{this}}</a></li>
			  	{{/each}}
				</ul>
			</div>
			<div class="col-md-2">
				<div class="filter-sort">
					<div class="btn-group">
					  <button type="button" class="btn btn-sm btn-secondary-outline dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
					    Filter / Sort
					  </button>
					  <div class="dropdown-menu">
							{{#each filterOptions}}
					    	<a class="dropdown-item filter-select" href="#">{{{activeFilter}}}{{filter}}</a>
							{{/each}}
					    <div class="dropdown-divider"></div>
							{{#each sortOptions}}
								<a class="dropdown-item sort-select" href="#">{{{activeSort}}}{{sort}}</a>
							{{/each}}
						</div>
					</div>
				</div>
			</div>
		</div>

	<!-- List of content -->

	  {{#each requests}}
	  <div class="request-item">
		  	<div class="row">
		  		<div class="col-md-2 col-md-offset-2">
		  			<img src="{{poster_path}}" class="img-responsive" alt="Poster">
		  		</div>
		  		<div class="col-md-4">
		  			<ul class="request-details-list">
			  			<li><strong>{{title}}</strong></li>
			  			<li><strong>Veröffentlichungsdatum:</strong> {{release_date}}</li>
			  			<li><strong>Genehmigt:</strong> {{{approval_status}}}</li>
			  			<li><strong>Verfügbar:</strong> {{{download_status}}}</li>
			  			{{{requesting_user}}}
			  			<li><strong>Probleme bekannt:</strong> {{issues}}</li>
		  			</ul>
		  		</div>
		  		<div class="col-md-2 request-details-buttons">
		  			{{#if currentUser}}
			  			{{#unless approved}}<p><button class="btn btn-sm btn-success-outline approve-item">genehmigen</button></p>{{/unless}}
			  			<p><button class="btn btn-sm btn-danger-outline delete-item">entfernen</button></p>
			  			<p><button class="btn btn-sm btn-info-outline clear-issues">Probleme entfernen</button></p>
			  		{{/if}}
			  		<p>
			  			<div class="btn-group">
							  <button type="button" class="btn btn-sm btn-warning-outline dropdown-toggle report-item" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
							    Melde Probleme<span class="caret"></span>
							  </button>
							  <ul class="dropdown-menu">
							    <li><a href="#" class="issue-select dropdown-item" data="schlechter Ton">schlechter Ton</a></li>
							    <li><a href="#" class="issue-select dropdown-item" data="falscher Ton">falscher Ton</a></li>
							    <li><a href="#" class="issue-select dropdown-item" data="falscher Inhalt">falscher Inhalt</a></li>
							    <li><a href="#" class="issue-select dropdown-item" data="abspielen nicht mögl.">abspielen nicht mögl.</a></li>
							    <li><a href="#" class="issue-select dropdown-item" data="Untertitel fehlen">Untertitel fehlen</a></li>
							    <li><a href="#" class="issue-select dropdown-item" data="schlechtes Bild">schlechtes Bild</a></li>
							    <li><a href="#" class="issue-select dropdown-item" data="Sonstiges">Sonstiges</a></li>
							  </ul>
							</div>
			  		</p>
		  		</div>
		  	</div>
	  	</div>
			<div class="row">
		    <div class="col-md-8 col-md-offset-2">
		      <div class="item-divider"></div>
		    </div>
			</div>
		{{/each}}

		<!-- Go to top button -->
		<div class="go-to-top">
  		<i class="fa fa-arrow-up"></i>
		</div>

		<!-- Load more event trigger -->
		<div class="load-more" style="display:none;"></div>

		<div class="row">
			<div class="col-md-8 col-md-offset-2">
				{{#unless Template.subscriptionsReady}}
					<h3 class="loading">Loading... <i class="fa fa-spin fa-refresh"></i></h3>
				{{/unless}}
			</div>
		</div>
	</div>
</template>
